body{
	background: fixed;
	background-color: black;
}

.btn{
	font-family: Arial;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	padding: pointer;
	display: inline-block;
	text-decoration: none;
}

.btn-red{
	background: red;
	color: white;
	box-shadow:0 5px 0 DarkRed;
}

.btn-red:hover{
	background: red;
	color: white;
	box-shadow:0 5px 0 DarkRed;
}

.btn-red:active{
	position: relative;
	top: 5px;
	box-shadow:none;
}

input{
	color: white;
	background: red;
}

h1{
	color: white;
	font-family: "Arial";
	font-size: 40px;
}

p{
	color: white;
	font-family: "Arial";
	font-size: 20px;
	text-align: center;
}

h2{
	color: white;
	font-family: "Arial";
	font-size: 19px;
}

h3{
	color: white;
	font-family: "Arial";
	font-size: 30px;
}

a{
	color: white;
	font-family: "Arial"
	font-size 15px;
}
header{
	border: 100px ;
	border-bottom: none;
	margin-left: 100px;
	height: 7px; 
	width: 323px;
}

main{
	border: 200px;
	border-bottom: none;
	margin-left: 500px;
	height: 90%; 
	width: 323px;
}